#python
**/_pycache_/
*/_pycache_/
_pycache_/
*.pyc

#IDE
random_config.ini.bak
logs/

# Python
#----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/__pycache__/
*/__pycache__/
*.pyc
__pycache__/
*.py[cod]